<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />

    <title>Chat</title>
</head>
<body class="text-center" ng-app="ChatApp">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column" ng-controller="ChatController as vm">

        <header class="masthead mb-auto">
            <h3 class="masthead-brand">Chat App</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
            </nav>
        </header>

        <main role="main" class="cover">
            <div ng-show="!vm.hasUser">
                <p>
                    <input type="text" class="form-control form-control-lg" id="userInput" placeholder="User name" required ng-model="vm.user" />
                </p>
                <p>
                    <input type="button" class="btn btn-lg btn-secondary join-btn" id="joinChatButton" value="Join" ng-disabled="vm.user === '' || vm.user === undefined" ng-click="vm.joinChat()" />
                </p>
            </div>
            <div class="chat-box" ng-show="vm.hasUser">
                
                <ul class="list-group" id="messagesList">
                    <li class="list-group-item" ng-repeat="messageItem in vm.messages">
                        <div class="message-item-container" ng-class="{'move-right': vm.user === messageItem.user}">
                            <h4>{{messageItem.user}}</h4>
                            <p>{{messageItem.message}}</p>
                        </div>
                    </li>
                </ul>

                <form class="form-inline">
                    <input type="text" class="form-control form-control-lg col-10" id="messageInput" placeholder="Your message" required ng-model="vm.message" />
                    <input type="button" class="btn btn-lg btn-secondary col" id="sendButton" value="Send" ng-disabled="vm.message === '' || vm.message === undefined" ng-click="vm.sendMessage()" />
                </form>
            </div>
        </main>

        <footer class="mastfoot mt-auto">
            <p>Made in 2021</p>
        </footer>
        
    </div>

<!-- App JS Files  -->
<script src="lib/angular.js/angular.min.js"></script>
<script src="lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<script src="js/app/chat.module.js"></script>
<script src="js/app/chat.signalr.services.js"></script>
<script src="js/app/chat.api.services.js"></script>
<script src="js/app/chat.controller.js"></script>

</body>

</html>